@using Microsoft.AspNetCore.Http
@{
    string[] uri = Context.Request.Path.ToUriComponent().Split("/");
    var i = uri.Length;
    string control = uri[1];
    string control2 = i == 2 ? "Index" : uri[2];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja</title>
    <link rel="stylesheet" href="~/lib/vendors/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/vendors/font-awesome/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="~/lib/vendors/fontawesome-5/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/vendors/nprogress/nprogress.css" />
    <link rel="stylesheet" href="~/lib/vendors/iCheck/skins/flat/green.css" />
    <link rel="stylesheet" href="~/lib/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" />
    <link rel="stylesheet" href="~/lib/vendors/jqvmap/dist/jqvmap.min.css" />
    <link rel="stylesheet" href="~/lib/vendors/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/css/custom.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border:0;">
                        <a href="/Home/Index" class="site_title"><i class="fas fa-store fa-1x"></i> <span>Loja</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Bem vindo, </span>
                            <h2>Juliano Nascimento</h2>
                        </div>
                    </div>
                    <br />

                    <nav id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3 id="g">Geral</h3>
                            <ul class="nav side-menu">
                                <li><a href="/Dashboard/Index"><i class="fas fa-home"></i> Dashboard</a></li>
                                <li><a href="/Produto/Index"><i class="fas fa-shopping-bag"></i> Produtos</a></li>
                                <li><a href="/Fornecedor/Index"><i class="fas fa-truck"></i> Fornecedores</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Login/Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class="navbar-right">
                            <li class="nav-item dropdown open" style="padding-left:15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    Juliano Nascimento
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Perfil</a>
                                    <a class="dropdown-item" href="#">Ajuda</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out pull-right"></i>Sair</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="right_col" role="main">
            <div id="content-header">
                <div id="breadcrumb">
                    <a href="Dashboard/Index" title="Dashboard" class="tip-bottom"><i class="fas fa-home"></i> Dashboard</a>
                    @if (!control.Equals("Dashboard") && (string.IsNullOrEmpty(control2) || control2.Equals("Index")))
                    {
                        <a href="/@control/Index" class="tip-bottom" title="@control">@control</a>
                    }
                    @if (!string.IsNullOrEmpty(control2) && control2 != "Index")
                    {
                        <a href="/@control/Index" class="tip-bottom" title="@control">@control</a><a href="/@control/@control2" class="tip-bottom" title="@control2">@control2</a>
                    }
                </div>
            </div>
            <div class="container-fluid" id="corpo">
                @if (Context.Session.GetString("success") != null)
                {
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Context.Session.GetString("success")
                    </div>
                }
                @if (Context.Session.GetString("error") != null)
                {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Context.Session.GetString("error")
                    </div>
                }
                @RenderBody()
            </div>
        </div>
        <footer class="border-top footer text-muted text-center">
            <div class="container">
                &copy; 2020 - Loja - Todos os direitos reservados
            </div>
        </footer>
    </div>
    <script src="~/lib/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vendors/fastclick/lib/fastclick.js"></script>
    <script src="~/lib/vendors/nprogress/nprogress.js"></script>
    <script src="~/lib/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="~/lib/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/lib/vendors/iCheck/icheck.min.js"></script>
    <script src="~/lib/vendors/skycons/skycons.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="~/lib/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="~/lib/vendors/DateJS/build/date.js"></script>
    <script src="~/lib/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/lib/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/lib/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/lib/vendors/moment/min/moment.min.js"></script>
    <script src="~/lib/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.js"></script>
    <script type="text/javascript" src="~/js/maskmoney.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script src="~/js/matrix.js"></script>
    <script src="~/js/custom.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('.alert').hide(); // ".alert" é a classe do elemento que seja manipular.
            }, 10000); // O valor é representado em milisegundos.
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
