@model Loja.Repository.Models.ProdutoModel
@{
    ViewData["Title"] = "Index";
}

<div id="btnAdd">
    <a href="/Produto/Adicionar" class="btn btn-success"><i class="fas fa-plus"></i> Novo Produto</a>
</div>

<div class="row" style="display:block;">
    <div class="clearfix"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="x_panel">
            <div class="x_title">
                <span id="icon"><i class="fas fa-shopping-bag"></i> Produto</span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">                                
                                <th class="column-title" style="width:15%;">Cód. Produto</th>
                                <th class="column-title">Código de Barra</th>
                                <th class="column-title">Nome</th>
                                <th class="column-title">Preço</th>
                                <th class="column-title">Estoque</th>
                                <th class="column-title no-link last"><span class="nobr">Ações</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListaProdutos != null && Model.ListaProdutos.Any())
                            {
                                foreach (var p in Model.ListaProdutos)
                                {
                                    <tr>                                        
                                        <td class="">@p.IdProduto</td>
                                        <td class="">@p.CodDeBarra</td>
                                        <td class="">@p.NomeProduto</td>
                                        <td class="">@p.PrecoVenda</td>
                                        <td>@p.Estoque</td>
                                        <td>
                                            <a href="/Produto/Visualizar/@p.IdProduto" style="margin-right:1%;" id="icones" class="tip-top" title="Visualizar Produto"><i class="fas fa-eye fa-lg"></i></a>
                                            <a href="/Produto/Editar/@p.IdProduto" style="margin-right:1%;" id="icones" class="tip-top" title="Editar Produto"><i class="fas fa-edit fa-lg"></i></a>
                                            <a href="#modal-excluir" style="margin-right:1%;" role="button" data-toggle="modal" produto="@p.IdProduto" data-target=".bs-example-modal-md" id="icones" class="tip-top" title="Excluir Produto"><i class="fas fa-trash-alt fa-lg"></i></a>
                                            <a href="#atualizar-estoque" style="margin-right:1%;" role="button" data-toggle="modal" produto="@p.IdProduto" estoque="@p.Estoque" data-target=".bs-example-modal-sm" id="icones" class="tip-top" title="Atualizar Estoque"><i class="fas fa-plus-square fa-lg"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">Nenhum Produto Cadastrado.</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inicio Modal Excluir-->
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="/Produto/Excluir" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fas fa-trash-alt"></i> Excluir Produto</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="idProduto" class="idProduto" name="IdProduto" value="" />
                    <h5 style="text-align:center;">Deseja realmente excluir esse produto? </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Fim Modal Excluir-->
<!--Inicio Modal Estoque-->
<div id="atualizar-estoque" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="/Produto/AtualizarEstoque" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fas fa-plus-square"></i> Atualizar Estoque</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label for="estoqueAtual" class="control-label">Estoque Atual</label>
                        <div class="controls">
                            <input type="text" id="estoqueAtual" name="EstoqueAtual" value="" readonly />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="estoque" class="control-label">Adicionar Produtos</label>
                        <div class="controls">
                            <input type="hidden" id="idProduto" class="idProduto" name="IdProduto" value="" />
                            <input type="text" id="estoque" name="Estoque" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Fim Modal Estoque-->


<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', 'a', function (event) {
            var produto = $(this).attr('produto');
            var estoque = $(this).attr('estoque');

            $('.idProduto').val(produto);
            $('#estoqueAtual').val(estoque);
        });
    })
</script>