@model Loja.Repository.Dtos.PedidoDto
@{
    ViewData["Title"] = "Editar";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="x_panel">
            <div class="x_title">
                <span id="icon"><i class="fas fa-receipt"></i> Editar Pedido </span>
            </div>
            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" action="/Pedido/Edit" method="post" id="formPedido">
                    <div class="item form-group">
                        <input type="hidden" name="IdPedido" value="@Model.IdPedido" />
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="descricao">Descrição Pedido <span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="descricao" name="DescricaoPedido" value="@Model.DescricaoPedido" class="form-control" />
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="valor">Valor Total <span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="valor" name="ValorTotal" value="@Model.ValorTotal" class="form-control" />
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="dscProduto">Descrição Produtos Comprados <span class="required">*</span></label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="dscProduto" name="DscProdutos" value="@Model.DscProdutos" class="form-control" />
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="statusPedido">Status Pedido </label>
                        <div class="col-md-4 col-sm-4">
                            <select id="statusPedido" name="StatusPedidoId" class="form-control">
                                @if (Model.StatusPedidoId == 1)
                                {
                                    <option value="1" selected>Pendente</option>
                                }
                                else
                                {
                                    <option value="1">Pendente</option>
                                }
                                @if (Model.StatusPedidoId == 2)
                                {
                                    <option value="2" selected>Realizado</option>
                                }
                                else
                                {
                                    <option value="2">Realizado</option>
                                }
                                @if (Model.StatusPedidoId == 3)
                                {
                                    <option value="3" selected>Enviado</option>
                                }
                                else
                                {
                                    <option value="3">Enviado</option>
                                }
                                @if (Model.StatusPedidoId == 4)
                                {
                                    <option value="4" selected>Recebido</option>
                                }
                                else
                                {
                                    <option value="4">Recebido</option>
                                }
                                @if (Model.StatusPedidoId == 5)
                                {
                                    <option value="5" selected>Conferido</option>
                                }
                                else
                                {
                                    <option value="5">Conferido</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="fornecedor">Fornecedor</label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" id="fornecedor" name="NomeFornecedor" value="@Model.NomeFornecedor" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="item form-actions">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success"><i class="fas fa-sync-alt"></i> Atualizar</button>
                            <button type="reset" class="btn btn-primary"><i class="fas fa-redo-alt"></i> Limpar</button>
                            <a href="/Pedido/Index" class="btn btn-secondary"><i class="fas fa-backward"></i> Voltar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#formPedido').validate({
            rules: {
                DescricaoPedido: {
                    required: true
                },
                ValorTotal: {
                    required: true
                },
                DscProdutos: {
                    required: true
                }
            },
            messages: {
                DescricaoPedido: {
                    required: 'Campo Obrigatório.'
                },
                ValorTotal: {
                    required: 'Campo Obrigatório.'
                },
                DscProdutos: {
                    required: 'Campo Obrigatório.'
                }
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.form-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.form-group').removeClass('error');
                $(element).parents('.form-group').addClass('success');
            }
        });
    });
</script>
