@model Loja.Repository.Dtos.LancamentoDto
@using Jarvis.Utils;
@{
    ViewData["Title"] = "Index";
}

<div id="btnAdd">
    <a href="/Lancamento/Adicionar" class="btn btn-success"><i class="fas fa-plus"></i> Novo Lançamento </a>
</div>
<div class="row" style="display:block;">
    <div class="clearfix"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="x_panel">
            <div class="x_title">
                <span id="icon"><i class="fas fa-file-invoice"></i> Lançamentos </span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title" style="width:15%;">Cód. Lançamento</th>
                                <th class="column-title">Descrição Lançamento</th>
                                <th class="column-title">Data Lançamento</th>
                                <th class="column-title">Valor Lançamento</th>
                                <th class="column-title">Status Lançamento</th>
                                <th class="column-title">Tipo Lancamento</th>
                                <th class="column-title no-link last"><span class="nobr">Ações</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListaLancamento != null && Model.ListaLancamento.Any())
                            {
                                @foreach (var l in Model.ListaLancamento)
                                {
                                    <tr>
                                        <td>@l.IdLancamento</td>
                                        <td>@l.DscLancamento</td>
                                        <td>@l.DataLancamento</td>
                                        <td>@l.ValorLancamento</td>
                                        <td>@l.StatusLancamento</td>
                                        <td>@l.DscTipoLancamento</td>
                                        <td>
                                            <a href="/Lancamento/Visualizar/@Encrypt.EncrypId(l.IdLancamento)" style="margin-right:1%;" id="icones" class="v tip-top" title="Visualizar Lançamento"><i class="fas fa-eye fa-lg"></i></a>
                                            <a href="/Lancamento/Editar/@Encrypt.EncrypId(l.IdLancamento)" style="margin-right:1%;" id="icones" class="tip-top" title="Editar Lançamento"><i class="fas fa-edit fa-lg"></i></a>
                                            @if (l.DataCancelamento == null)
                                            {
                                                <a href="#modal-cancelar" style="margin-right:1%;" role="button" data-toggle="modal" lancamento="@l.IdLancamento" data-target=".bs-example-modal-md" id="icones" class="tip-top" title="Cancelar Lançamento"><i class="fas fa-window-close fa-lg"></i></a>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">Nenhum Lançamento encontrado!</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Inicio Modal Cancelar-->
<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form action="/Lancamento/Cancelar" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="fas fa-trash-alt"></i> Cancelar Lançamento</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="idLancamento" class="idLancamento" name="IdLancamento" value="" />
                    <h5 style="text-align:center;">Deseja realmente cancelar esse lançamento? </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-danger">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Fim Modal Cancelar-->
<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', 'a', function (event) {
            var lancamento = $(this).attr('lancamento');

            $('.idLancamento').val(lancamento);
        });
    })
</script>